version: '3.7'
services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: MinioDemo@123
    volumes: 
      - D:/Minio Docker/data:/data
    command: server /data --console-address ":9001"
